
                        <a class="btn btn-default" href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}">{{ "{{ 'form.actions.back'|trans }}" }}</a>

                    {%- if ('edit' in actions) and (not hide_edit) %}

                        <a class="btn btn-primary" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">{{ "{{ 'form.actions.edit'|trans }}" }}</a>

                    {%- endif %}

                    {%- if ('delete' in actions) and (not hide_delete) %}

                        {{ '{{ form_start(delete_form) }}' }}
                            <input class="btn btn-danger" type="submit" value="{{ "{{ 'form.actions.delete'|trans }}" }}">
                        {{ '{{ form_end(delete_form) }}' }}

                    {%- endif %}
