<p>
    <stong>Caro(a) {{ invoice.costumer.user.realname }}</stong>
</p>
<br/>
<p>A fatura #{{ invoice.id }} foi criada do pedido #{{ invoice.order.id }}
<p>Acompanhe o status do seu pedido em <a href="{{ url('invoice_show', {'id': invoice.id}) }}">sua conta</a>.</p>
<br/>
<strong>Obrigado,</strong>