<p>
    <stong>Caro(a) {{ order.costumer.user.realname }}</stong>
</p>
<br/>
<p>Seu pedido #{{ order.id }} foi criado
<p>A criação do projeto será liberada após a confirmação de pagamento.</p>
<br>
<p>Acompanhe o status do seu pedido em <a href="{{ url('order_show', {'id': order.id}) }}">sua conta</a>.</p>
<br/>
<strong>Obrigado,</strong>