<p>
    <stong>Caro(a) {{ order.costumer.user.realname }}</stong>
</p>
<br/>
<p>Seu pedido #{{ order.id }} foi alterado para <strong>{{ order.statusList[order.status]|trans }}</strong></p>
<p>Acompanhe o status do seu pedido em <a href="{{ url('order_show', {'id': order.id}) }}">sua conta</a>.</p>
<br/>
<strong>Obrigado,</strong>