{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% set body_classes = 'login' %}

{% block title %}{{ 'layout.login'|trans }}{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top" style="min-height: 80px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url('app_homepage') }}" style="height: 80px;">
                    <img src="{{ asset('assets/images/logo-small.png') }}" style="width: 240px;">
                </a>
            </div>
        </div>
    </nav>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        <div class="login_wrapper">
            <div class="form login_form">
                <section class="login_content">
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}