{% extends 'admin/base.html.twig' %}

{% set page_title = 'page.title.new'|trans({'%entity%': 'entity.profile'|trans}) %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <ul class="nav nav-tabs bar_tabs" role="tablist">
                        <li>
                            <a href="{{ url('fos_user_profile_edit') }}">{{ 'user_profile'|trans }}</a>
                        </li>
                        <li class="active">
                            <a href="{{ url('person_personal_edit') }}">Dados pessoais</a>
                        </li>
                    </ul>
                    {{ form_start(form, { 'attr': {'class': 'form-horizontal form-label-left'} }) }}
                    {{ form_widget(form) }}
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{{ 'form.actions.create'|trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}
