{% extends 'admin/base.html.twig' %}

{% set page_title = 'entity.profile'|trans %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-bordered">
                        <tbody>                
                            <tr>
                                <th>{{ "Id"|trans }}</th>                
                                <td>{{ profile.id }}</td>                
                            </tr>                
                            <tr>
                                <th>{{ "Name"|trans }}</th>                
                                <td>{{ profile.name }}</td>                
                            </tr>                
                            <tr>
                                <th>{{ "Imagename"|trans }}</th>                
                                <td>{{ profile.imageName }}</td>                
                            </tr>                
                            <tr>
                                <th>{{ "Imagesize"|trans }}</th>                
                                <td>{{ profile.imageSize }}</td>                
                            </tr>                
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                                
                        <a class="btn btn-default" href="{{ path('profile_personal_index') }}">{{ 'form.actions.back'|trans }}</a>
                        <a class="btn btn-primary" href="{{ path('profile_personal_edit', { 'id': profile.id }) }}">{{ 'form.actions.edit'|trans }}</a>
                        {{ form_start(delete_form) }}
                            <input class="btn btn-danger" type="submit" value="{{ 'form.actions.delete'|trans }}">
                        {{ form_end(delete_form) }}</div>
            </div>
        </div>
    </div>
{% endblock %}
