{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block title %}{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}{% endblock %}

{% block fos_message_content %}

<a href="{{ url('fos_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>

{% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
