{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

{% block page_subtitle %}{{ thread.subject }}{% endblock %}

<ul class="messages">
    {% for message in thread.messages %}
        <li id="message_{{ message.id }}">
            <img src="{{ vich_uploader_asset(message.sender.person, 'imageFile') | default(asset('assets/images/user.png')) | imagine_filter('small') }}" class="avatar" alt="Avatar">
            <div class="message_date">
                <h3 class="date text-info">{{ message.createdAt|date('d') }}</h3>
                <p class="month">{{ message.createdAt|date('M') }}</p>
            </div>
            <div class="message_wrapper">
                <h4 class="heading">{{ message.sender.realname }}</h4>
                <blockquote class="message">{{ message.body }}</blockquote>
            </div>
        </li>
    {% endfor %}
</ul>

<h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" class="btn btn-default" />
</form>

{% endblock %}
