<!DOCTYPE html>
<html lang="{{ lang }}">
<html>
<head>
    <meta charset="{{ _charset }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | {{ site_prefix ~ ' ' ~ site_name }}{% if site_slogan %} - {{ site_slogan }}{% endif %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}
        <link href="{{ asset('assets/css/style_admin.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body class="nav-md{% if body_classes is defined %} {{ body_classes }}{% endif %}">
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
<script src="{{ asset('assets/js/custom.js') }}"></script>
</body>
</html>
