{% extends 'admin/base.html.twig' %}

{% set page_title = 'page.title.list'|trans({'%entity%': 'myprojects'|trans}) %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    {% if projects.items is empty %}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td colspan="10">
                                    {{ 'result.empty'|trans }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <!-- start project list -->
                        <table class="table table-striped projects">
                            <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 40%">Nome do Projeto</th>
                                <th>Responsável</th>
                                <th>Mensagens</th>
                                <th>Progresso</th>
                                <th>Situação</th>
                                <th style="width: 15%">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>{{ project.id }}</td>
                                    <td>
                                        <a href="{{ path('project_show', { 'id': project.id }) }}">
                                            {{ project.name }}
                                            <br/>
                                            <small>{{ 'Createdat'|trans }} {{ project.createdAt|localizeddate('short') }}</small>
                                        </a>
                                    </td>
                                    <td>
                                        {% if project.assignedTo %}
                                            <ul class="list-inline">
                                                <li>
                                                    <img src="{{ vich_uploader_asset(project.assignedTo.person, 'imageFile') | default(asset('assets/images/user.png')) | imagine_filter('small') }}"
                                                         alt="Avatar" title="{{ project.assignedTo.realname }}">
                                                </li>
                                            </ul>
                                        {% else %}
                                            <label>--</label>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('project_talk', { 'id': project.id }) }}">
                                            Messages <span class="label label-info">Nova</span>
                                        </a>
                                    </td>
                                    <td class="project_progress">
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar"
                                                 data-transitiongoal="{{ project.progress }}" aria-valuenow="{{ project.progress }}" style="width: {{ project.progress }}%;"></div>
                                        </div>
                                        <small>{{ project.progress }}% Completo</small>
                                    </td>
                                    <td>
                                        <label class="label label-success">{{ project.statusList[project.status]|trans }}</label>
                                    </td>
                                    <td>
                                        <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-info btn-xs">
                                            <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'form.actions.edit'|trans }}
                                        </a>
                                        <a href="{{ path('project_show', { 'id': project.id }) }}" class="btn btn-primary btn-xs">
                                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'form.actions.show'|trans }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}