{% extends 'admin/base.html.twig' %}

{% set page_title = 'Detalhes do projeto' %}

{% block title %}{{ page_title }}{% endblock %}

{% set months = ['este', 'a um', 'a dois', 'a três', 'a quatro'] %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>{{ project.name }}</h4>
                </div>
                <div class="x_content">
                    <div class="col-md-9 col-sm-9 col-xs-12">

                        <ul class="stats-overview">
                            <li>
                                <span class="name">Orçamento</span>
                                <span class="value text-success">{{ project.saleOrderItem.total|localizedcurrency(currency) }}</span>
                            </li>
                            <li>
                                <span class="name">Duração estimada do projeto</span>
                                <span class="value text-success"> {% if project.dueDate %}{{ project.dueDate|localizeddate('short') }}{% else %}Sem previsão{% endif %}</span>
                            </li>
                        </ul>
                        <br/>

                        <div>

                            <h4>Mensagens Recente</h4>

                            <!-- end of user messages -->
                            <ul class="messages">
                                {% for message in project.talk.messages.slice(0, 5) %}
                                    <li id="message_{{ message.id }}">
                                        <img class="avatar" src="{{ vich_uploader_asset(message.sender.person, 'imageFile') | default(asset('assets/images/user.png')) | imagine_filter('small') }}" alt="Avatar" title="{{ message.sender.realname }}">
                                        <div class="message_date">
                                            <h3 class="date text-info">{{ message.createdAt|date('d') }}</h3>
                                            <p class="month">{{ message.createdAt|date('M') }}</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">{{ message.sender.realname }}</h4>
                                            <blockquote class="message">{{ message.body }}</blockquote>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- end of user messages -->

                        </div>

                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">

                        <section class="panel">

                            <div class="x_title">
                                <h2>Descrição do Projeto</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <p>{% if project.description %}{{ project.description }}{% else %}<i>Sem descrição</i>{% endif %}</p>

                                <br/>
                                <div class="project_detail">
                                    <p class="title">Cliente</p>
                                    <p>{{ project.createdBy.realname }}</p>
                                    <p class="title">Criado em</p>
                                    <p>{{ project.createdAt|date('d M Y') }}</p>
                                    <p class="title">Situação</p>
                                    {%  set y = date().diff(date(project.createdAt)).y %}
                                    <p>Iniciado {% if y in months|keys %}{{ months[y] }} mês{% else %}a alguns meses{% endif %}</p>
                                </div>

                                <br />
                                <h5>Arquivos do projeto</h5>
                                <ul class="list-unstyled project_files">
                                    {% if project.attachments.count %}
                                        {% for attachment in project.attachments %}
                                            <li>
                                                <a href="{{ vich_uploader_asset(attachment, 'file') }}" download="{{ attachment.name }}">
                                                    <i class="fa fa-file-{{ attachment.mimeTypeName }}-o"></i> {{ attachment.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li><i>Nenhum arquivo anexado</i></li>
                                    {% endif %}
                                </ul>
                                <br/>
                                <div class="text-center mtop20">
                                    <a href="{{ path('project_edit', { 'id': project.id }) }}" class="btn btn-sm btn-success btn-block">Editar informações</a>
                                </div>
                            </div>

                        </section>

                    </div>
                    <!-- end project-detail sidebar -->
                </div>
                <div class="x_footer">
                    <a class="btn btn-default" href="{{ path('project_my') }}">{{ 'form.actions.back'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}