{% extends 'admin/base.html.twig' %}

{% set page_title = thread.subject %}

{% block title %}{{ page_title }}{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Mensagens</h4>
                </div>
                <div class="x_content">
                    <ul class="messages">
                        {% for message in thread.messages %}
                            <li id="message_{{ message.id }}">
                                <img class="avatar"
                                     src="{{ vich_uploader_asset(message.sender.person, 'imageFile') | default(asset('assets/images/user.png')) | imagine_filter('small') }}"
                                     alt="Avatar"
                                     title="{{ message.sender.realname }}">
                                <div class="message_date">
                                    <h3 class="date text-info">{{ message.createdAt|date('d') }}</h3>
                                    <p class="month">{{ message.createdAt|date('M') }}</p>
                                </div>
                                <div class="message_wrapper">
                                    <h4 class="heading">{{ message.sender.realname }}</h4>
                                    <blockquote class="message">{{ message.body }}</blockquote>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

                    <form action="{{ url('project_talk', {'id': project.id}) }}" method="post">
                        {{ form_widget(form) }}

                        <input type="submit" class="btn btn-default"/>
                    </form>
                </div>
                <div class="x_footer">
                    <a class="btn btn-default" href="{{ path('project_my') }}">{{ 'form.actions.back'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}
