{% extends 'admin/base.html.twig' %}

{% set page_title = 'page.title.list'|trans({'%entity%': 'entity.order'|trans}) %}

{% block title %}{{ page_title }}{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <!-- //form content -->

                    {% if orders.items is empty %}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td colspan="10">
                                    {{ 'result.empty'|trans }}.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 8%">
                                        {{ knp_pagination_sortable(orders, '#', 'o.id') }}
                                        <span class="fa fa-fw fa-sort{% if orders.direction %}-{{ orders.direction }}{% endif %}"></span>
                                    </th>
                                    <th>{{ 'Client'|trans }}</th>
                                    <th>{{ 'Createdat'|trans }}</th>
                                    <th>{{ 'Changedat'|trans }}</th>
                                    <th>Valor Total</th>
                                    <th>Mensagens</th>
                                    <th>{{ 'Status'|trans }}</th>
                                    <th style="width: 20%;">{{ 'form.actions.action'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for order in orders %}
                                    <tr>
                                        <td><a href="{{ path('order_show', { 'id': order.id }) }}">{{ order.id }}</a></td>
                                        <td>{{ order.costumer.user.realname }}</td>
                                        <td>{% if order.createdAt %}{{ order.createdAt|localizeddate('short') }}{% endif %}</td>
                                        <td>{% if order.changedAt %}{{ order.changedAt|localizeddate('short') }}{% endif %}</td>
                                        <td>{{ order.totalAmount|localizedcurrency(currency) }}</td>
                                        <td>
                                            <a href="{{ path('order_talk', { 'id': order.id }) }}">
                                                Messages <span class="label label-info">Nova</span>
                                            </a>
                                        </td>
                                        <td>{{ order.statusList[order.status]|trans }}</td>
                                        <td>
                                            {% if order.invoice %}
                                                <a href="{{ path('invoice_show', { 'id': order.invoice.id }) }}" class="btn btn-info btn-xs">
                                                    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'form.actions.invoice'|trans }}
                                                </a>
                                            {% endif %}
                                            {% if order.status is constant('STATUS_PENDING', order) %}
                                                <a href="{{ path('checkout_step_tree', { 'id': order.id }) }}" class="btn btn-success btn-xs">
                                                    <i class="fa fa-credit-card" aria-hidden="true"></i> Pagar
                                                </a>
                                            {% endif %}
                                            <a href="{{ path('order_show', { 'id': order.id }) }}" class="btn btn-primary btn-xs">
                                                <i class="fa fa-eye" aria-hidden="true"></i> {{ 'form.actions.show'|trans }}
                                            </a>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a href="{{ path('order_edit', { 'id': order.id }) }}" class="btn btn-info btn-xs">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'form.actions.edit'|trans }}
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="dt-panelfooter clearfix">
                            <div class="pull-left" role="status">
                                {{ 'result.total'|trans({'%start%': orders.paginationData.firstItemNumber, '%end%': orders.paginationData.lastItemNumber, '%total%': orders.totalItemCount, })|raw }}
                            </div>
                            <div class="pull-right">
                                {{ knp_pagination_render(orders) }}
                            </div>
                        </div>
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}
