{% extends 'admin/base.html.twig' %}

{% set page_title = 'entity.order'|trans %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <section class="content invoice">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-xs-12 invoice-header">
                                <h1>
                                    <i class="fa fa-globe"></i> Pedido.
                                    <small class="pull-right">Date: {{ order.requiredAt|localizeddate('short') }}</small>
                                </h1>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-4 invoice-col">
                                <address>
                                    <strong>{{ order.costumer.user.realname }}</strong>
                                    <br>E-mail: {{ order.costumer.user.email }}
                                </address>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 invoice-col">
                                <b>Pedido ID:</b> {{ order.id }}
                                <br>
                                <b>Situação:</b> <small class="label label-info">{{ order.statusList[order.status]|trans }}</small>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <!-- Table row -->
                        <div class="row">
                            <div class="col-xs-12 table">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Qtd</th>
                                        <th>Produto</th>
                                        <th>SKU #</th>
                                        <th style="width: 59%">Descrição</th>
                                        <th>Sub-total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in order.items %}
                                    <tr>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.product.SKU }}</td>
                                        <td>{{ item.product.category.description }}</td>
                                        <td>{{ item.total|localizedcurrency(currency) }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-xs-6">
                                <p class="lead">Métodos de Pagamento:</p>
                                <img src="{{ asset('assets/images/paypal2.png') }}" alt="Paypal">
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-6">
                                <p class="lead">Criado em {{ order.createdAt|localizeddate('short') }}</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th>Total:</th>
                                            <td>{{ order.totalAmount|localizedcurrency(currency) }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-xs-12">
                                <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Imprimir</button>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('order_edit', { 'id': order.id }) }}" class="btn btn-info">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'form.actions.edit'|trans }}
                                    </a>
                                {% endif %}
                                <a href="{{ path('order_my') }}" class="btn btn-default pull-right">Ir para listagem</a>
                                {% if order.status is constant('STATUS_PENDING', order) %}
                                    <a href="{{ path('checkout_step_tree', {'id': order.id}) }}" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Efetuar pagamento</a>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
