{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body">
        <div class="main_container">

            {% include 'admin/sidebar.html.twig' %}
            {% include 'admin/topnav.html.twig' %}

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>{% if page_title is defined %}{{ page_title }}{% endif %}</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    {% block message %}
                        {% include 'AdminMainBundle::flash.html.twig' with { 'close': true } %}
                    {% endblock %}
                    {% block page_content %}{% endblock %}

                </div>
            </div>
            <!-- /page content -->

            {% include 'admin/footer.html.twig' %}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/app_admin.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
