<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ path('app_homepage') }}" class="site_title"><img src="{{ asset('assets/images/logo-small.png') }}" alt="{{ site_name }}" style="width: 205px;"> <span>{{ site_prefix ~ ' ' ~ site_name}}</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        {% if is_granted('ROLE_USER') %}
        <div class="profile">
            <div class="profile_pic">
                <img src="{{ vich_uploader_asset(app.user.person, 'imageFile') | default(asset('assets/images/user.png')) | imagine_filter('medium') }}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Bem vindo,</span>
                <h2>{{ app.user.realname }}</h2>
            </div>
        </div>
        {% endif %}
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Geral</h3>
                {{ knp_menu_render('main') }}
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a href="{{ url('fos_user_profile_edit') }}" data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a href="{{ url('fos_user_security_logout') }}" data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>