<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') %}
                <li>
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{{ vich_uploader_asset(app.user.person, 'imageFile') | default(asset('assets/images/user.png')) | imagine_filter('medium') }}" alt="">{{ app.user.realname }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="{{ url('fos_user_profile_show') }}">{{ 'profile.name'|trans }}</a></li>
                        <li><a href="{{ url('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> {{ 'profile.logout'|trans }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('cart') }}" class="info-number">
                        <i class="fa fa-shopping-basket"></i>
                        {% if sale_cart|length > 0 %}
                            <span class="badge bg-green">{{ sale_cart|length }}</span>
                        {% endif %}
                    </a>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        {% if fos_message_nb_unread() %}
                            <span class="badge bg-green">{{ fos_message_nb_unread() }}</span>
                        {% endif %}
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <li>
                            <div class="text-center">
                                <a href="{{ url('fos_message_inbox') }}">
                                    <strong>Ver Todas as Mensagens</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                {% else %}
                    <li>
                        <a href="{{ url('fos_user_security_login') }}">Entrar</a>
                    </li>
                    <li>
                        <a href="{{ url('fos_user_registration_register') }}">Cadastre-se</a>
                    </li>
                    <li role="presentation">
                        <a href="{{ path('cart') }}" class="info-number">
                            <i class="fa fa-shopping-basket"></i>
                            {% if sale_cart|length > 0 %}
                                <span class="badge bg-green">{{ sale_cart|length }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                <!-- Mensagens -->
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->