{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <h1>Login</h1>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="form-group">
        <div class="col-md-12 col-xs-12 form-group">
            <input type="text" id="username" name="_username" class="form-control"
                   placeholder="Entre com usuário ou seu e-mail" value="{{ last_username }}" required="required"/>
            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-xs-12 form-group">
            <input type="password" id="password" name="_password" class="form-control"
                   placeholder="{{ 'security.login.password'|trans }}" required="required"/>
            <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" checked/> {{ 'security.login.remember_me'|trans }}
        </label>
    </div>

    <div>
        <a class="reset_pass" href="{{ path("fos_user_resetting_request") }}">Esqueceu sua senha?</a>
        <input class="btn btn-default submit" type="submit" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans }}"/>
    </div>

    <div class="clearfix"></div>
</form>
