{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}

    <div class="separator">
        <p class="change_link">Não tem cadastro? <a href="{{ url('fos_user_registration_register') }}" class="to_register">Cadastre-se</a></p>

        <div class="clearfix"></div>
        <br>

        <div>
            <p>Copyright <i class="fa fa-copyright"></i>2017 {{ site_name }}</p>
        </div>
    </div>
{% endblock fos_user_content %}
