Olá!

<h3>Um projeto foi criado recentemente</h3>

<h4>{{ project.name }}</h4>
<p>{{ project.description }}</p>

<a href="{{ url('project_index') }}">Ver projetos</a>

<a href="{{ url('fos_user_security_login') }}">Ver todos os projetos</a>
