{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <h1>Recuperar senha</h1>
    <p>Informe seu email ou usuário e enviaremos para você as instruções para redefinir sua senha</p>
    <div>
        <input type="text" id="username" name="username" class="form-control" placeholder="{{ 'resetting.request.username'|trans }}" required="required" />
    </div>
    <div>
        <input class="btn btn-default submit" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>

    <div class="clearfix"></div>

    <div class="separator">
        <p class="change_link">Não tem cadastro? <a href="{{ url('fos_user_registration_register') }}" class="to_register">Cadastre-se</a></p>

        <div class="clearfix"></div>
        <br>

        <div>
            <p>Copyright <i class="fa fa-copyright"></i>2017 {{ site_name }}</p>
        </div>
    </div>
</form>
