{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}
<h1>Cadastre-se</h1>
<div class="form-group">
    <div class="col-md-12 col-xs-12 form-group">
        {{ form_widget(form.email, { 'attr': {'placeholder': 'form.email'} }) }}
        <span class="fa fa-envelope-o form-control-feedback right" aria-hidden="true"></span>
        {{ form_errors(form.email) }}
    </div>
</div>
<div class="form-group">
    <div class="col-md-12 col-xs-12 form-group">
        {{ form_widget(form.username, { 'attr': {'placeholder': 'form.username'} }) }}
        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
        {{ form_errors(form.username) }}
    </div>
</div>
<div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'form.password'} }) }}
        <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
        {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'form.password_confirmation'} }) }}
        <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
    </div>
    {{ form_errors(form.plainPassword.first) }}
</div>

<div class="form-group">
    <div class="col-md-2 col-sm-6 col-xs-12">
        <input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}"/>
    </div>
</div>

{{ form_end(form) }}

<div class="clearfix"></div>

<div class="separator">
    <p class="change_link">Você já é cadastrado? <a href="{{ url('fos_user_security_login') }}">Entrar</a></p>
</div>
