{% extends 'admin/base.html.twig' %}

{% set page_title = 'messenger'|trans({}, 'FOSMessageBundle') %}

{% block title %}{{ page_title }}{% endblock %}

{% set route = app.request.get('_route') %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% block page_subtitle %}{% endblock %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <ul class="nav nav-tabs bar_tabs" role="tablist">
                        <li class="{% if route == 'fos_message_inbox' %}active{% endif %}">
                            <a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a>
                        </li>
                        <li class="{% if route == 'fos_message_sent' %}active{% endif %}">
                            <a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a>
                        </li>
                        <li class="{% if route == 'fos_message_deleted' %}active{% endif %}">
                            <a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a>
                        </li>
                    </ul>

                    {% block fos_message_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}