Olá!

<p>Você recebeu uma nova mensagem do {{ message.sender.realname }}</p>

<p>{{ message.body }}</p>

<p>Para ver mais detalhes ou responder a esta mensagem, acesse seguinte endereço:</p>

<a href="{{ url('fos_message_thread_view', {'threadId': message.thread.id}) }}">{{ url('fos_message_thread_view', {'threadId': message.thread.id}) }}</a>