{% extends 'admin/base.html.twig' %}

{% set page_title = 'page.title.list'|trans({'%entity%': 'entity.invoice'|trans}) %}

{% block title %}{{ page_title }}{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <!-- //form content -->

                    {% if invoices.items is empty %}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td colspan="10">
                                    {{ 'result.empty'|trans }}.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 8%">
                                        {{ knp_pagination_sortable(invoices, '#', 'i.id') }}
                                        <span class="fa fa-fw fa-sort{% if invoices.direction %}-{{ invoices.direction }}{% endif %}"></span>
                                    </th>
                                    <th>{{ 'Requiredat'|trans }}</th>
                                    <th>{{ 'Totalamount'|trans }}</th>
                                    <th>{{ 'Createdat'|trans }}</th>
                                    <th>{{ 'Changedat'|trans }}</th>
                                    <th>{{ 'Status'|trans }}</th>
                                    <th style="width: 20%;">{{ 'form.actions.action'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for invoice in invoices %}
                                    <tr>
                                        <td><a href="{{ path('invoice_show', { 'id': invoice.id }) }}">{{ invoice.id }}</a></td>
                                        <td>{% if invoice.requiredAt %}{{ invoice.requiredAt|localizeddate('small') }}{% endif %}</td>
                                        <td>{{ invoice.totalAmount }}</td>
                                        <td>{% if invoice.createdAt %}{{ invoice.createdAt|localizeddate('small') }}{% endif %}</td>
                                        <td>{% if invoice.changedAt %}{{ invoice.changedAt|localizeddate('small') }}{% endif %}</td>
                                        <td>{{ invoice.statusList[invoice.status] }}</td>
                                        <td>
                                            <a href="{{ path('invoice_show', { 'id': invoice.id }) }}" class="btn btn-primary btn-xs">
                                                <i class="fa fa-eye" aria-hidden="true"></i> {{ 'form.actions.show'|trans }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <div class="dt-panelfooter clearfix">
                            <div class="pull-left" role="status">
                                {{ 'result.total'|trans({'%start%': invoices.paginationData.firstItemNumber, '%end%': invoices.paginationData.lastItemNumber, '%total%': invoices.totalItemCount, })|raw }}
                            </div>
                            <div class="pull-right">
                                {{ knp_pagination_render(invoices) }}
                            </div>
                        </div>
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}
