{% extends 'admin/base.html.twig' %}

{% set page_title = 'entity.product'|trans %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <table class="table table-bordered">
                        <tbody>                
                            <tr>
                                <th>{{ "Id"|trans }}</th>                
                                <td>{{ product.id }}</td>                
                            </tr>                
                            <tr>
                                <th>{{ "Name"|trans }}</th>                
                                <td>{{ product.name }}</td>                
                            </tr>                
                            <tr>
                                <th>{{ "SKU"|trans }}</th>
                                <td>{{ product.SKU }}</td>
                            </tr>
                            <tr>
                                <th>{{ "Unitprice"|trans }}</th>                
                                <td>{{ product.unitPrice }}</td>                
                            </tr>                
                            <tr>
                                <th>{{ "Createdat"|trans }}</th>                
                                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>                
                            </tr>                
                            <tr>
                                <th>{{ "Changedat"|trans }}</th>                
                                <td>{% if product.changedAt %}{{ product.changedAt|date('Y-m-d H:i:s') }}{% endif %}</td>                
                            </tr>                
                            <tr>
                                <th>{{ "Status"|trans }}</th>                
                                <td>{{ product.status }}</td>                
                            </tr>                
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                                
                        <a class="btn btn-default" href="{{ path('product_index') }}">{{ 'form.actions.back'|trans }}</a>
                        <a class="btn btn-primary" href="{{ path('product_edit', { 'id': product.id }) }}">{{ 'form.actions.edit'|trans }}</a>
                        {{ form_start(delete_form) }}
                            <input class="btn btn-danger" type="submit" value="{{ 'form.actions.delete'|trans }}">
                        {{ form_end(delete_form) }}</div>
            </div>
        </div>
    </div>
{% endblock %}
