{% extends "admin/base.html.twig" %}

{% block title %}AdminSaleBundle:Checkout:stepOne{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            {{ render(controller('AdminUserBundle:Security:loginPartial')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
