.select2-container--default {
  .select2-selection--single {
    border-radius: 0 !important;
    min-height: 34px;
    .select2-selection__arrow {
      height: 32px !important;
    }
    .select2-selection__rendered {
      padding-right: 20px;
      padding-top: 3px;
    }
  }
  .select2-selection--multiple {
    min-height: 34px;
  }
}

.x_box {
  background: #fff;
  transition: all 0.2s ease;
  border: 2px dashed #dadada;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding: 0 20px 20px 20px;
  min-height: 240px;

  span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;

    p {
      color: #515c66;
      text-transform: none;
    }
  }
}
