{% extends 'admin/base.html.twig' %}

{% set page_title = 'page.title.edit'|trans({'%entity%': 'entity.category'|trans}) %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                {{ form_start(edit_form, { 'attr': {'class': 'form-horizontal form-label-left'} }) }}
                    {{ form_widget(edit_form) }}
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" >{{ 'form.actions.edit'|trans }}</button>
                    </div>
                {{ form_end(edit_form) }}
                    <a class="btn btn-default" href="{{ path('category_index') }}">{{ 'form.actions.back'|trans }}</a>
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="{{ 'form.actions.delete'|trans }}">
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}
