{% extends 'admin/base.html.twig' %}

{% set page_title = 'page.title.list'|trans({'%entity%': 'entity.category'|trans}) %}

{% block title %}{{ page_title }}{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <nav class="panel-menu admin-form theme-primary">
                        <div class="row">
                            <div class="form-group pull-left">
                                <form method="get" class="form-inline">
                                    <div class="form-group">
                                        <select name="criteria" class="form-control" required="required" title="" data-select="select2" data-placeholder="{{ 'default.empty_value'|trans }}" data-allow-clear="true">
                                        <option value="">{{ "default.empty_value"|trans }}</option><option value="name" data-md-type="string" {% if app.request.get("criteria") == "name" %} selected="selected" {% endif %}>{{ "Name"|trans }}</option>
                                            <option value="description" data-md-type="string" {% if app.request.get("criteria") == "description" %} selected="selected" {% endif %}>{{ "Description"|trans }}</option>
                                            <option value="createdAt" data-md-type="datetime" {% if app.request.get("criteria") == "createdAt" %} selected="selected" {% endif %}>{{ "Createdat"|trans }}</option>
                                            <option value="changedAt" data-md-type="datetime" {% if app.request.get("criteria") == "changedAt" %} selected="selected" {% endif %}>{{ "Changedat"|trans }}</option>
                                            <option value="status" data-md-type="smallint" {% if app.request.get("criteria") == "status" %} selected="selected" {% endif %}>{{ "Status"|trans }}</option>
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <select name="operator" class="form-control" required="required" title="" data-select="select2" data-placeholder="{{ 'default.empty_value'|trans }}">
                                            <option value="eq" {% if app.request.get("operator") == "eq" %} selected="selected" {% endif %}>Igual a</option>
                                            <option value="neq" {% if app.request.get("operator") == "neq" %} selected="selected" {% endif %}>Diferente</option>
                                            <option value="lt" {% if app.request.get("operator") == "lt" %} selected="selected" {% endif %}>Menor que</option>
                                            <option value="gt" {% if app.request.get("operator") == "gt" %} selected="selected" {% endif %}>Maior que</option>
                                            <option value="lte" {% if app.request.get("operator") == "lte" %} selected="selected" {% endif %}>Menor ou igual a</option>
                                            <option value="gte" {% if app.request.get("operator") == "gte" %} selected="selected" {% endif %}>Maior ou igual a</option>
                                            <option value="like" {% if app.request.get("operator") == "like" %} selected="selected" {% endif %}>Cont&eacute;m</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input name="value" class="form-control" value="{{ app.request.get("value") }}" placeholder="{{ "Search by..."|trans }}" required="required"/>
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-secondary">{{ "Go!"|trans }}</button>
                                        <button type="button" aria-expanded="false" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path(app.request.attributes.get("_route")) }}">{{ "Reset"|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                            <div class="pull-right col-md-4">
                                <a class="pull-right btn btn-default" href="{{ path('category_new') }}"
                                   title="{{ 'form.actions.create'|trans }}">{{ 'form.actions.create'|trans }}</a>
                            </div>
                        </div>
                    </nav>
                    <!-- //form content -->

                    {% if categories.items is empty %}
                        <table class="table">
                            <tbody>
                            <tr>
                                <td colspan="10">
                                    {{ 'result.empty'|trans }} <a href="{{ path('category_new') }}">{{ 'form.actions.create'|trans }}</a>.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 8%">
                                        {{ knp_pagination_sortable(categories, '#', 'c.id') }}
                                        <span class="fa fa-fw fa-sort{% if categories.direction %}-{{ categories.direction }}{% endif %}"></span>
                                    </th>
                                    <th>{{ 'Name'|trans }}</th>
                                    <th>{{ 'Description'|trans }}</th>
                                    <th>{{ 'Createdat'|trans }}</th>
                                    <th>{{ 'Changedat'|trans }}</th>
                                    <th>{{ 'Status'|trans }}</th>
                                    <th style="width: 20%;">{{ 'form.actions.action'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for category in categories %}
                                {% set delete_form = delete_forms[loop.index0] %}
                                    <tr>
                                        <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.description }}</td>
                                        <td>{% if category.createdAt %}{{ category.createdAt|localizeddate('short') }}{% endif %}</td>
                                        <td>{% if category.changedAt %}{{ category.changedAt|localizeddate('short') }}{% endif %}</td>
                                        <td>{{ category.status }}</td>
                                        <td>
                                            {{ form_start(delete_form) }}
                                                <a href="{{ path('category_show', { 'id': category.id }) }}" class="btn btn-primary btn-xs">
                                                    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'form.actions.show'|trans }}
                                                </a>
                                                <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-info btn-xs">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'form.actions.edit'|trans }}
                                                </a>
                                                <button type="submit" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i> {{ 'form.actions.delete'|trans }}
                                                </button>
                                            {{ form_end(delete_form) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <div class="dt-panelfooter clearfix">
                            <div class="pull-left" role="status">
                                {{ 'result.total'|trans({'%start%': categories.paginationData.firstItemNumber, '%end%': categories.paginationData.lastItemNumber, '%total%': categories.totalItemCount, })|raw }}
                            </div>
                            <div class="pull-right">
                                {{ knp_pagination_render(categories) }}
                            </div>
                        </div>
                    {%- endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

{% endblock %}
