{% extends 'admin/base.html.twig' %}

{% set page_title = 'page.title.new'|trans({'%entity%': 'entity.category'|trans}) %}

{% block title %}{{ page_title }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                {{ form_start(form, { 'attr': {'class': 'form-horizontal form-label-left'} }) }}
                    {{ form_widget(form) }}
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" >{{ 'form.actions.create'|trans }}</button>
                                                
                        <a class="btn btn-default" href="{{ path('category_index') }}">{{ 'form.actions.back'|trans }}</a></div>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
