{% extends ":admin:base.html.twig" %}

{% set page_title = 'profile.edit.title'|trans %}

{% block title %}{{ page_title }}{% endblock title %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <ul class="nav nav-tabs bar_tabs" role="tablist">
                        <li class="active">
                            <a href="{{ url('fos_user_profile_edit') }}">{{ 'user_profile'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ url('person_personal_edit') }}">Dados pessoais</a>
                        </li>
                    </ul>
                    {% include "@FOSUser/Profile/edit_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
