<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
        <div class="profile_img">
            <div id="crop-avatar">
                <img class="img-responsive avatar-view" src="{{ vich_uploader_asset(user.person, 'imageFile') | default(asset('assets/images/user.png')) | imagine_filter('large') }}" alt="Avatar" title="{{ user.person.imageName }}">
            </div>
        </div>
        <h3>{{ user.realname }}</h3>

        <ul class="list-unstyled user_data">
            <li><i class="fa fa-envelope user-profile-icon"></i>
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </li>
        </ul>

        <a href="{{ url('fos_user_profile_edit') }}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> {{ 'profile.edit.title'|trans({}) }}</a>
        <br>

    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation"  class="active"><a href="#orders" id="orders-tab" role="tab" data-toggle="tab" aria-expanded="false">Pedidos Recente</a>
                </li>
                <li role="presentation"><a href="#projects" role="tab" id="projects-tab" data-toggle="tab" aria-expanded="true">Meus Projetos</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="order" class="tab-pane fade active in" id="orders" aria-labelledby="orders-tab">
                    <!-- start user projects -->
                    <table class="data table table-striped no-margin">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Itens</th>
                            <th>Data da compra</th>
                            <th>Última alteração</th>
                            <th>{{ 'Status'|trans }}</th>
                            <th style="width: 20%;">{{ 'form.actions.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.items.count }}</td>
                            <td>{% if order.createdAt %}{{ order.createdAt|localizeddate('short') }}{% endif %}</td>
                            <td>{% if order.changedAt %}{{ order.changedAt|localizeddate('short') }}{% endif %}</td>
                            <td><span class="label label-success">{{ order.statusList[order.status]|trans }}</span></td>
                            <td>
                                <a href="{{ path('order_show', { 'id': order.id }) }}" class="btn btn-primary btn-xs">
                                    <i class="fa fa-eye" aria-hidden="true"></i> {{ 'form.actions.show'|trans }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div role="project" class="tab-pane fade active" id="projects" aria-labelledby="projects-tab">

                    <!-- start user projects -->
                    <table class="data table table-striped no-margin">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome do Projeto</th>
                            <th>Responsável</th>
                            <th>Data de entrega</th>
                            <th>Entregue em</th>
                            <th>Situação</th>
                            <th>Progresso</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                        <tr>
                            <td>{{ project.id }}</td>
                            <td><a href="{{ path('project_show', {'id': project.id}) }}">{{ project.name }}</a></td>
                            <td>{% if project.assignedTo %}{{ project.assignedTo.realname }}{% else %}--{% endif %}</td>
                            <td>{% if project.dueDate %}{{ project.dueDate|localizeddate('short') }}{% endif %}</td>
                            <td>{% if project.deliveredAt %}{{ project.deliveredAt|localizeddate('short') }}{% endif %}</td>
                            <td><span class="label label-success">{{ project.statusList[project.status]|trans }}</span></td>
                            <td class="vertical-align-mid">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" data-transitiongoal="{{ project.progress }}" aria-valuenow="{{ project.progress }}" style="width: {{ project.progress }}%;"></div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- end user projects -->

                </div>
            </div>
        </div>
    </div>
</div>