{% extends "admin/base.html.twig" %}

{% block title %}Carrinho{% endblock %}

{% block page_content %}
    {% if cart is empty %}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <h5>Seu carrinho de compras está vazio.</h5>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-8">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Carrinho Atual</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 table">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th><strong>Item</strong></th>
                                        <th class="text-center">Valor</th>
                                        <th class="text-center">Qtd</th>
                                        <th class="text-right">Subtotal</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for SKU, item in cart %}
                                        <tr>
                                            <td class="col-md-6">
                                                <h4>{{ item.product.name }}</h4>
                                                <h5>{{ item.product.SKU }}</h5>
                                                <p>{{ item.product.description }}</p>
                                            </td>
                                            <td class="text-center">{% if item.unitPrice > 0 %}{{ item.unitPrice|localizedcurrency(currency) }}{% else %}A negociar{% endif %}</td>
                                            <td class="text-center">{{ item.quantity }}</td>
                                            <td class="text-right">{% if item.total > 0 %}{{ item.total|localizedcurrency(currency) }}{% else %}A negociar{% endif %}</td>
                                            <td class="text-right">
                                                <a href="{{ path('cart_remove', {'SKU': SKU}) }}" class="btn btn-danger">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a class="btn btn-success btn-block" href="{{ path('app_categories') }}">
                                    <i class="fa fa-cart-plus"></i>
                                    Adicionar mais produtos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Revisar Pedido</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>Valor Total</h3>
                                <h3><span style="color:green;">{% if total > 0 %}{{ total|localizedcurrency(currency) }}{% else %}A negociar{% endif %}</span></h3>
                            </div>
                            <hr>
                        </div>

                        <div class="col-md-12">
                            <a class="btn btn-primary btn-lg btn-block" href="{{ path('checkout_step_one') }}">
                                <i class="fa fa-credit-card"></i>
                                Fechar pedido
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
