{% extends "admin/base.html.twig" %}

{% block title %}AppBundle:Default:project{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        {% for category in categories %}
                            <div class="col-sm-6 col-md-4 text-center">
                                <div class="x_box">
                                    <div class="box-content">
                                        <h3 class="tag-title">{{ category.name }}</h3>
                                        <hr/>
                                        <p>{{ category.description }}</p>
                                        <br/>
                                        <a href="{{ path('app_products', {'id': category.id}) }}"
                                           class="btn btn-block btn-primary">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
