{% extends "admin/base.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <h3 class="head text-center">Seja Bem vindo!</h3>
                    <p class="narrow text-center">
                        Nós da Mídia Guides, não apenas oferecemos serviços de marketing digital e identidade visual mas também soluções e resultados.
                        <br>
                        Os guias de mídia têm melhorar os resultados de clientes que acreditam e confiam em nosso trabalho.
                        <br>
                        Alguns de nossos projetos.
                    </p>
                    <p class="text-center">
                        <a class="btn btn-success" href="{{ path('app_categories') }}">
                            <i class="fa fa-plus"></i>
                            Veja nossos produtos e serviços
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}