{% extends "admin/base.html.twig" %}

{% block title %}Produtos{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-4 text-center">
                                <div class="x_box">
                                    <div class="box-content">
                                        <h3 class="tag-title">{{ product.name }}</h3>
                                        <h4>{% if product.unitPrice > 0 %}{{ product.unitPrice|localizedcurrency(currency) }}{% else %}A negociar{% endif %}</h4>
                                        <hr/>
                                        <p>{{ product.description }}</p>
                                        <a href="{{ path('cart_add', {'SKU': product.SKU}) }}" class="btn btn-success btn-block" role="button">Comprar <span> agora!</span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
