{% block extends %}
{{ "{% extends 'admin/base.html.twig' %}" }}
{% endblock extends %}

{{ "{% set page_title = 'page.title.edit'|trans({'%entity%': 'entity." ~ entity|lower ~ "'|trans}) %}" }}

{{ "{% block title %}{{ page_title }}{% endblock %}" }}

{% block body %}
{{ "{% block page_content %}" }}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                {{ "{{ form_start(edit_form, { 'attr': {'class': 'form-horizontal form-label-left'} }) }}" }}
                    {{ '{{ form_widget(edit_form) }}' }}
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" >{{ "{{ 'form.actions.edit'|trans }}" }}</button>
                    </div>
                {{ '{{ form_end(edit_form) }}' }}
                {% set hide_edit, hide_delete = true, false %}
                {{ include('crud/views/others/record_actions.html.twig.twig') -}}
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{{ "{% endblock %}" }}
{% endblock body %}
